name: Poker Clock App build

on:
  push:
    branches-ignore:
      - "master"
  workflow_call:
  workflow_dispatch:

permissions:
  checks: write

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Check docker socket
        run: |
          ls -la /var/run/docker.sock || echo "no socket"
          echo $DOCKER_HOST

      - name: Fix Docker API version for Testcontainers
        run: echo "api.version=1.44" > ~/.docker-java.properties

      - uses: actions/checkout@v4

      - name: Set up Java version
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'corretto'
          architecture: 'x64'
#          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: '9.3.1'

      - name: Run build with Gradle Wrapper
        env:
          GITHUB_PIPELINE: 'true'
        run: ./gradlew build

      - name: Test report
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'

      - name: Upload test artifacts
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: test-artifacts
          path: '**/build/reports/'

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: telegram-bot
          path: 'telegram/build/libs/telegram-bot-*.jar'
