name: Poker Clock App build

on:
  push:
    branches-ignore:
      - "master"
  workflow_call:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java version
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'adopt'
          architecture: 'x64'
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        cache: 'gradle'

      - name: Run build with Gradle Wrapper
        run: ./gradlew build

      - uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: Unit Tests
          path: core/build/test-results/test/TEST-*.xml,telegram/build/test-results/test/TEST-*.xml
          reporter: java-junit

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: telegram-bot
          path: 'telegram/build/libs/telegram-bot-*.jar'
